<!DOCTYPE html>
<html lang="de">

<head>
  <title>Static Website Template</title>
  <module href="/components/head.html"></module>
</head>

<body>
  <module href="/components/navbar.html"></module>


  <div class="center full-sized slide1">
    
    <div class="images">
      <div class="cm_image fadeLoad">
        <img src="images/cm_image.png" />
        <div class="surname"> Shri Siddaramaiah</div>
        <div class="desig">Chief Minister</div>
      </div>
      
      <div class="dep_cm_image fadeLoad">
        <img src="images/dep_cm_image.png" />
        <div class="surname">Shri DK Shivakumar</div>
        <div class="desig">Deputy CM</div>
      </div>
    </div>

    

    <div class="headTitle">Welcome to</div>
    <div class="subTitle">Government of Karnataka official Portal</div>

    <div class="bottomBaner fadeLoad">
      <div class="scrollBtn">
        
      </div>
    </div>
    <div class="section2">
      <h1 class="title">Department Wise Statistics</h1>
    </div>
    
  </div>

  

  <script src="bundle.js" defer async></script>
</body>

</html>