*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: 'Poppins';
    font-display: swap;
    box-sizing: border-box;
}

body {
    background-color: $subtleBg;
    color: $defaultFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    transition: 0.1s linear;

    &:hover {
        color: $primary;
    }
}

p {
    margin: 2rem 0;
    line-height: 1.4em;

    &:last-of-type {
        margin-bottom: 0;
    }
}

h1,
h2 {
    margin-bottom: 4rem;
    max-width: 100%;
    line-height: 1.1em;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-align: center;
    }
}
.fadeLoad{
    // opacity: 0 !important;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.full-sized {
    // height: calc(100vh - 60px);
    width: 100%;
    
    &.slide1{
        background: url(/images/baner_bg.png);
        background-repeat: no-repeat;
        background-size: 110%;
        background-attachment: fixed;
        background-position: -65px 400px;
    }

    .images {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        padding: 0px 70px;
        vertical-align: bottom;
        background: url(images/Seal_of_karnataka.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 102px;
        background-position-y: 70%;

        .cm_image,
        .dep_cm_image {
            vertical-align: bottom;
            position: relative;

            .surname {
                text-align: center;
                font-style: normal;
                font-variant: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                font-family: 'Poppins';
                letter-spacing: 0px;
                color: #222;
                opacity: 1;
            }

            .desig {
                text-align: center;
                font-style: normal;
                font-variant: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                font-family: 'Poppins';
                letter-spacing: 0px;
                color: #222;
            }

            img {
                bottom: 0;
                width: 197px;
            }
        }

        .cm_image {
            float: left;
        }

        .dep_cm_image {
            float: right;
        }

        .kgfLogo {
            position: relative;

            img {
                position: absolute;
                bottom: 0;
            }

        }
    }

    .bottomBaner {
        width: 1419px;
        height: 378px;

        background: transparent url('images/bottomBaner.png') 0% 100% no-repeat padding-box;
        mix-blend-mode: soft-light;
        opacity: 1;
        background-size: contain;
        margin-bottom: 50px;
    }

    .headTitle {
        text-align: left;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        font-size: 112px;
        line-height: 168px;
        font-family: 'Poppins';
        letter-spacing: 0px;
        color: #222;
        opacity: 1;
        height: 157px;
        margin-top: -50px;
    }

    .subTitle {
        text-align: left;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 45px;
        font-family: 'Poppins';
        letter-spacing: 0px;
        color: #222;
        opacity: 1;

    }
}

.section2 {
    .title{
        text-align: center;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 48px;
        font-family: 'Poppins';
        letter-spacing: 0px;
        color: #222;
        text-transform: capitalize;
        opacity: 1;
    }
}